<div class="base-area">
  <div class="header-block">
    <p>ライフサイクル-ngDoCheck の確認</p>
  </div>

  <div class="body-block">
    <div class="block-separate-fifteen">
      <p class="description">
        <strong>ngDoCheck</strong> と <strong>ngDoCheck</strong> を走らせたときの動きをログで確認
      </p>
      <p class="input-block">
        <label for="inputText">入力項目(<font class="note">親から子に渡る</font>): </label>
        <input class="inputText" name="inputText" type="text" [(ngModel)]="childComponentParameter" />
      </p>
    </div>

    <div class="block-separate-eighty">
      <app-do-check-verification [signalInputValue]="childComponentParameter"></app-do-check-verification>
    </div>
  </div>

  <div class="footer-block">
  </div>
</div>
