p {
  margin: 0;
  padding: 0;
}

#do-check-base-area {
  margin: 0 0 0 15px;
  padding: 0;
  width: calc(100% - 20px);
  height: 100%;
}

#do-check-wrap {
  height: 100%;
  border: 1px solid #b7a007;
  border-radius: 20px;
}

#do-check-header {
  margin: 0;
  padding: 10px 10px;
  color: #b7a007;
  background: linear-gradient(#ffffff, #e2cda7);
  border-radius: 20px 20px 0 0;
  height: 25px;
}

#do-check-body {
  margin: 0;
  padding: 5px 10px;
  height: calc(100% - 50px);
}

.input-block {
  margin: 0;
  padding: 18px 0 0 0;
}

.note {
  color: #f33e33;
}
