<div id="http-client-verification-area">
  <div id="http-client-verification-header">
    <p id="header-caption">
      バックエンドから取得したメッセージリスト<br />
      <small class="header-note">メッセージを登録する際は入力フォームにメッセージを入力して｢登録｣ボタンを実行してください</small>
      <small class="header-note">メッセージを削除する際は削除したい入力フォームにフォーカスして｢削除｣ボタンを実行してください</small>
    </p>
  </div>

  <div id="http-client-verification-body">
    <!-- 片方向データバインドでバックエンドから取得した情報を表示する -->
    <table class="table">
      <tr>
        <th id="th-id">ID</th>
        <th id="th-message">メッセージ</th>
      </tr>
      <!--インデックス番号（index）に変数iでアクセスできるように-->
      <tr *ngFor="let messageInfo of messageInfoList; index as i">
        <td>{{messageInfo.id}}</td>
        <td>{{messageInfo.message}}</td>
      </tr>
    </table>

    <div id="form-block">
      <form #formCheck="ngForm" class="formCheck">
        <input type="text" id="form-id" class="input-text" name="message-id" [(ngModel)]="messageId">
        <input type="text" id="form-message" class="input-text" name="message" [(ngModel)]="message">
      </form>
    </div>
  </div>

  <div id="http-client-verification-footer">
    <input type="button" class="event-button" id="register" value="登録" (click)="onClickRegister($event)">
    <input type="button" class="event-button" id="update" value="更新" (click)="onClickUpdate($event)">
    <input type="button" class="event-button" id="delete" value="削除" (click)="onClickDelete($event)">
  </div>
</div>
