<div id="routing-base-area">
  <div id="routing-wrap">
    <div id="routing-header">
      <p>Routing によるページ切り替えの実装を確認する</p>
    </div>
    <div id="routing-menu">
      <ul>
        <!-- routing のためのリンク. routerLink に app.module.ts で定義したテーブル: ROUTE_TABLE に登録した path をセットする -->
        <li><a routerLink="/routing/page-a">Page-Aに遷移</a></li>
        <li><a routerLink="/routing/page-b">Page-Bに遷移</a></li>
        <li><a routerLink="/routing/page-c">Page-Cに遷移</a></li>
      </ul>
    </div>
    <div id="routing-body">
      <!-- ↑ で指定した page-a, page-b, page-c の描画はここで行う -->
      <!-- <router-outlet></router-outlet> の入れ子の設定については app.module.ts で実現している -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
