<div>
  <div class="block-header">
    <p>Routing によるページ切り替えの動作確認を行う</p>
  </div>

  <div class="block-body">
    <ul>
      <!-- routing のためのリンク. routerLink に app.module.ts で定義したテーブル: ROUTE_TABLE に登録した path をセットする -->
      <li><a routerLink="/routing/page-a">Page-Aに遷移</a></li>
      <li><a routerLink="/routing/page-b">Page-Bに遷移</a></li>
      <li><a routerLink="/routing/page-c">Page-Cに遷移</a></li>
    </ul>
  </div>
</div>

<!-- ↑ で指定した page-a, page-b, page-c の描画はここで行う -->
<!-- <router-outlet></router-outlet> の入れ子の設定については app.module.ts で実現している -->
<router-outlet></router-outlet>
