#routing-base-area {
  margin: 0 0 0 15px;
  padding: 0;
  width: calc(100% - 20px);
  height: 100%;
}

#routing-wrap {
  height: 100%;
  border: 1px solid #b7a007;
  border-radius: 20px;
}

#routing-header {
  margin: 0;
  padding: 10px 10px;
  color: #b7a007;
  background: linear-gradient(#ffffff, #e2cda7);
  border-radius: 20px 20px 0 0;
  width: inherit;
  height: 25px;
}

#routing-header > p {
  margin: 0;
  padding: 0;
}

#routing-menu {
  height: 25px;
}

#routing-menu ul li {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
}

#routing-body {
  border-top: solid 1px #b7a007;
  margin: 0;
  padding: 0 10px;
  width: inherit;
  height: calc(100% - 90px);
}
