#routing-base-area {
  margin: 0 0 0 15px;
  padding: 0;
  width: calc(100% - 20px);
}

.block-header {
  margin: 0;
  padding: 10px 10px;
  background: rgb(182, 109, 240);
  color: rgb(255, 255, 255);
  width: inherit;
  height: 25px;
}

.block-header > p {
  margin: 0;
  padding: 0;
}

.block-body {
  margin: 0;
  padding: 0 10px;
  background: rgb(219, 210, 224);
  width: inherit;
  height: 30px;
}

ul, li {
  margin: 0;
  padding: 0;
}
.block-body ul li {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
}
