p {
  margin: 0;
  padding: 0;
}

#reference-base-area {
  margin: 0 0 0 15px;
  padding: 0;
  width: calc(100% - 20px);
  height: 100%;
}

#child-component {
  height: 50%;
  border: 1px solid #b7a007;
  border-radius: 20px;
}

#external-contents {
  height: 50%;
  border: 1px solid #b7a007;
  border-radius: 20px;
}

.reference-header {
  margin: 0;
  padding: 10px 10px;
  color: #b7a007;
  background: linear-gradient(#ffffff, #e2cda7);
  border-radius: 20px 20px 0 0;
  height: 25px;
}

.reference-body {
  margin: 0;
  padding: 5px 10px;
  border-radius: 20px;
}
