<div id="after-content-base-area">
  <div id="ng-content-verification-block">
    <div class="after-content-block-header">
      <p>ng-content の動きを確認する</p>
    </div>

    <div class="after-content-block-body">
      <app-ng-content-parent>
      </app-ng-content-parent>
    </div>
  </div>

  <div id="after-content-verification-block">
    <div class="after-content-block-header">
      <p>AfterContent の動きを確認する</p>
    </div>

    <div class="after-content-block-body">
      <app-after-content-parent>
        <!-- 対応する select 属性が付与されたタグに埋め込まれる -->
        <!-- # class 属性を削除するとコンテンツが表示されなくなるので試してみてください -->
        <app-after-content-child class="external-contents-component">
        </app-after-content-child>
        <p class="external-contents-sentence">
          css の class 属性と select 属性を対応させた場合に､この文章は外部コンテンツとして埋め込まれました<br />
          <small>(実は上のコンテンツも同じように class 属性と select 属性を対応させています)</small>
        </p>
      </app-after-content-parent>
    </div>
  </div>
</div>
