<div class="base-area">
  <div id="readme-header-block">
    <header id="readme-header">
      <p>README</p>
    </header>
    <div id="readme-header-description">
      <div>
        <p>
          Angular CLI で作成したプロジェクトを使用して、Angular の理解を深めるためにアレコレすることを目的としたものです。<br />
          このブランチでは今まで検証した内容を取り込み､ UI を自分なりに見栄えよく整形しています
        </p>
        <p>
          次のブランチの機能を取り込んでいます<br />
          <small>( 一部､対応するブランチのないものものあります )</small>
        </p>
      </div>
    </div>
  </div>

  <div id="readme-body-block">
    <table id="menu-table">
      <th class="menu-table-header">ブランチ</th>
      <th class="menu-table-header">メニュー</th>
      <th class="menu-table-header">Qiita の記事</th>
      <tr class="menu-table-record">
        <td>対応するブランチなし</td>
        <td><a routerLink="/life-cycle-on-change">ライフサイクル-ngOnChange の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/ccd9861f919c4aa30ae8">[Angular] ライフサイクルメソッドをみる(ngOnChanges と ngOnInit と ngOnDestroy)</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_life_cycle_docheck">feat_life_cycle_docheck</a></td>
        <td><a routerLink="/life-cycle-do-check">ライフサイクル-ngDoCheck の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/f1adea56c17f8c7f6c0d">[Angular] ライフサイクルメソッドをみる(ngDoCheck)</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_life_cycle_aftercontent">feat_life_cycle_aftercontent</a></td>
        <td><a routerLink="/life-cycle-after-content">ライフサイクル-ngAfterContent[XX] の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/bf8fb8c66cd1d044866e">[Angular] ライフサイクルメソッドをみる(ngAfterContentInit と ngAfterContentChecked)</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_life_cycle_afterview">feat_life_cycle_afterview</a></td>
        <td><a routerLink="/life-cycle-after-view">ライフサイクル-ngAfterView[XX] の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/411d2884875a4a0f7bd6">[Angular] ライフサイクルメソッドをみる(ngAfterViewInit と ngAfterViewChecked)</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_reference_component">feat_reference_component</a></td>
        <td><a routerLink="/reference">子コンポーネントと外部コンテンツの参照の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/00341b3b12f7048c9575">[Angular] 子コンポーネントや外部コンテンツの参照を取得する</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_parent_child">feat_parent_child</a></td>
        <td><a routerLink="/parent-child">親子関係にあるコンポーネント間でのデータ授受の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/db6a48d072d5e9a33f0b">[Angular] 親子関係にあるコンポーネント間でデータの受け渡しを行う</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_share_service">feat_share_service</a></td>
        <td><a routerLink="/data-share">サービスを使ったコンポーネント間におけるデータ共有の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/e43dd37bff2e51e95a59">[Angular] サービスを使用してデータをコンポーネント間で共有する</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_http_client">feat_http_client</a></td>
        <td><a routerLink="/http-client">HTTP クライアント実装の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/840ae54472892a87f48d">[Angular] HTTPクライアント(RESTクライアント)を実装する</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_validation">feat_validation</a></td>
        <td><a routerLink="/validation">Validation 機能の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/ee9b026da40cae96ac38">[Angular] 標準機能を利用して validation を実現する</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_directive">feat_directive</a></td>
        <td><a routerLink="/attribute-directive">属性ディレクティブ実装の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/b8e3577f47483f5685e2">[Angular] 属性ディレクティブを自作する</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_directive_event">feat_directive_event</a></td>
        <td><a routerLink="/attribute-directive">属性ディレクティブ実装の確認( feat_directive とページを兼用 )</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/43cf954515a5f6ace515">[Angular] 属性ディレクティブにイベント処理を登録する</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_directive_validation">feat_directive_validation</a></td>
        <td><a routerLink="/attribute-directive">属性ディレクティブ実装の確認( feat_directive とページを兼用 )</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/22fe5be4ff3c3467cb85">[Angular] 属性ディレクティブにvalidation機能を設ける</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_switch_tab">feat_switch_tab</a></td>
        <td><a routerLink="/tab">タブ実装の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/212fe3a1c0308b1fd782">[Angular] ngComponentOutlet を使ってタブを実装する</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_routing">feat_routing</a></td>
        <td><a routerLink="/routing">ルーティング実装の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/91c85a06998314c95648">[Angular] ルーティング による画面遷移</a></td>
      </tr>
      <tr class="menu-table-record">
        <td><a href="https://github.com/ksh-fthr/angular-work/tree/feat_modal">feat_modal</a></td>
        <td><a routerLink="/modal">モーダル実装の確認</a></td>
        <td><a href="https://qiita.com/ksh-fthr/items/769767c346c8f04e2df2">[Angular] ngComponentOutlet を使ってモーダルダイアログを実装する</a></td>
      </tr>
    </table>
  </div>
</div>
