#readme-area {
  margin: 0 0 0 15px;
  padding: 0;
  width: calc(100% - 20px);
  height: 100%;
}

#readme-header-block {
  height: 35%;
}

#readme-body-block {
  height: 65%;
}

#readme-contents-wrap {
  height: 100%;
  border: 1px solid #b7a007;
  border-radius: 20px;
}

#readme-header {
  margin: 0;
  padding: 10px 10px;
  color: #b7a007;
  background: linear-gradient(#ffffff, #e2cda7);
  height: 25px;
  width: inherit;
  border-radius: 20px 20px 0 0;
}

#readme-header > p {
  margin: 0;
  padding: 0;
}

#readme-header-description {
  height: 200px;
  margin: 0;
  padding: 10px 10px;
  /* 子要素を中央に配置するための準備 */
  position: relative;
}

#readme-header-description div {
  /* 親要素に対して自分自身を中央に配置する */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

table#menu-table {
  margin: 0 auto; /* 親要素に対して自分自身を左右中央に配置する */
  font-size: 0.8em;
  border: 0.5px solid #b7a007;
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
}

tr:nth-child(even) {
  background: #f7f3ea;
}

tr:nth-child(odd) {
  background: #f5ebdb;
}

th {
  background: #e2cda7;
  color: #6b727c;
  border: solid 0.5px #b7a007;
}
