#parent-wrap {
  height: 90%;
}

#header-parent-to-child {
  font-size: 1.2em;
}

#header-child-to-parent {
  font-size: 1.2em;
}

#event-data {
  font-size: 1.1em;
  padding: 0 20px;
  color: #b7a007;
  border: dashed 0.5px;
  height: 100px;
  /* 子要素を上下中央に配置する */
  display: flex;
  align-items: center;
}
