#parent-wrap {
  height: 100%;
}

#parent-to-child {
  height: 50%;
}

#header-parent-to-child {
  font-size: 1.2em;
}

#child-to-parent {
  height: 50%
}

#header-child-to-parent {
  font-size: 1.2em;
}

#event-data {
  padding: 0 20px;
  color: #b7a007;
  border: dashed 0.5px;
  height: 100px;
  width: 90%;
  display: flex;
  align-items: center;
}
