<form #formCheck="ngForm" class="formCheck">
  <div class="input_ip_address">
    <label>IPアドレス:</label>
    <input
      type="text"
      class="input_text"
      name="input_ip_address"
      [(ngModel)]="inputAddress"
      #validateAddress="ngModel"
      required
      appNetworkAddressValidator
    >
    <div class="caution">
      <div *ngIf="validateAddress.errors && (validateAddress.dirty || validateAddress.touched)">
        <div [hidden]="!validateAddress.errors.required">
          ※ 項目が未入力です
        </div>
        <div [hidden]="!validateAddress.errors.minLength">
          ※ 入力した内容が短すぎます
        </div>
        <div [hidden]="!validateAddress.errors.maxLength">
          ※ 入力した内容が長すぎます
        </div>
        <div [hidden]="!validateAddress.errors.pattern">
          ※ 入力した内容に誤りがあります
        </div>
      </div>
    </div>
  </div>
  <input type="button" class="button_ok" name="button_ok" value="OK" (click)="onClickOK($event)" [disabled]="formCheck.invalid">
</form>