<div class="base-area">
  <div class="header-block">
    <p>属性ディレクティブ実装の確認</p>
  </div>

  <div class="body-block">
    <div class="block-separate-thirty">
      <p class="description">
        <strong>属性ディレクティブ</strong> の動作確認
      </p>
      <app-attribute-directive-verification></app-attribute-directive-verification>
    </div>

    <hr />

    <div class="block-separate-twenty">
      <p class="description">
        属性ディレクティブに実装した <strong>イベント</strong> の動作確認
      </p>
      <app-attribute-directive-event-verification></app-attribute-directive-event-verification>
    </div>

    <hr />

    <div class="block-separate-fourty">
      <p class="description">
        属性ディレクティブに実装した <strong>バリデーション</strong> の動作確認
      </p>
      <app-attribute-directive-validator-verification></app-attribute-directive-validator-verification>
    </div>
  </div>

  <div class="footer-block">
  </div>
</div>
