<div class="base-area">
  <div class="header-block">
    <p>属性ディレクティブ実装の確認</p>
  </div>

  <div class="body-block">
    <div class="block-separate-thirty">
      <p class="description">
        属性ディレクティブの動作確認
      </p>
      <app-attribute-directive-verification></app-attribute-directive-verification>
    </div>

    <hr />

    <div class="block-separate-twenty-five">
      <p class="description">
        属性ディレクティブに実装したイベントの動作確認
      </p>
      <app-attribute-directive-event-verification></app-attribute-directive-event-verification>
    </div>

    <hr />

    <div class="block-separate-thirty-five">
      <p class="description">
        属性ディレクティブに実装したバリデーションの動作確認
      </p>
      <app-attribute-directive-validator-verification></app-attribute-directive-validator-verification>
    </div>
  </div>

  <div class="footer-block">
  </div>
</div>
