p {
  margin: 0;
  padding: 0;
}

#data-share-base-area {
  margin: 0 0 0 15px;
  padding: 0;
  width: calc(100% - 20px);
  height: 100%;
}

.data-share-header {
  margin: 0;
  padding: 10px 10px;
  color: #b7a007;
  background: linear-gradient(#ffffff, #e2cda7);
  border-radius: 20px 20px 0 0;
  width: inherit;
  height: 25px;
}

.data-share-body {
  margin: 0;
  padding: 0 10px;
  width: inherit;
}

#data-share-a {
  border: 1px solid #b7a007;
  border-radius: 20px;
  height: 50%;
}

#data-share-b {
  border: 1px solid #b7a007;
  border-radius: 20px;
  height: 50%;
}
