<div class="base-area">
  <div class="header-block">
    <p>サービスを使ったコンポーネント間におけるデータ共有の確認</p>
  </div>

  <div class="body-block">
    <div class="block-separate-fifty">
      <p class="description">
      <strong>コンポーネント-A</strong>
      </p>
      <app-data-share-a></app-data-share-a>
    </div>

    <hr />

    <div class="block-separate-fifty">
      <p class="description">
        <strong>コンポーネント-B</strong>
      </p>
      <app-data-share-b></app-data-share-b>
    </div>
  </div>

  <div class="footer-block">
  </div>
</div>
