.footer {
  position: fixed;
  background: rgba(0, 0, 0, 1.0);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer_button {
  display: block;
  font-size: 1.5em;
  width: 200px;
  height: 100%;
}
