#modal-base-area {
  margin: 0 0 0 15px;
  padding: 0;
  width: calc(100% - 20px);
  height: 100%;
}

#modal-wrap {
  height: 100%;
  border: 1px solid #b7a007;
  border-radius: 20px;
}

#modal-header {
  margin: 0;
  padding: 10px 10px;
  color: #b7a007;
  background: linear-gradient(#ffffff, #e2cda7);
  height: 25px;
  width: inherit;
  border-radius: 20px 20px 0 0;
}

#modal-header > p {
  margin: 0;
  padding: 0;
}

#modal-body {
  margin: 0;
  padding: 0;
  height: calc(100% - 125px)
}

#modal-footer {
  background: #e2cda7;
  padding: 0;
  height: 80px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
}

#footer_button {
  display: block;
  font-size: 1.5em;
  width: 200px;
  height: 100%;
  color: #fff;
  background: linear-gradient(#ffffff, #b7a007);
  border: 1px solid #b7a007;
  border-radius: 20px;
}
