#log-block-parent {
  height: 90%;
}

#log-label-parent {
  display: block;
}

#log-text-area-parent {
  padding: 0 20px;
  font-size: 1.1em;
  color: #b7a007;
  border: dashed 0.5px;
  height: 90%;
  width: 90%;
  resize: none;
}
