<div id="after-content-parent-area">
  <div id="external-content-verification-1">
    <p>
      子コンポーネントを <strong>親コンポーネントのコンテンツとして埋め込んだ</strong> ときの動きを確認する
    </p>
    <ng-content select=".external-contents-component"></ng-content>
  </div>
  <div id="external-content-verification-2">
    <p>
      <strong>css の class 属性の値と select 属性の値を対応</strong> させることで <strong>任意の場所にコンテンツを埋め込んだ</strong> ときの動きを確認する
    </p>
    <div id="set-contents-by-class-and-select-block">
      <ng-content select=".external-contents-sentence"></ng-content>
    </div>
  </div>
</div>
