div {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  margin: 0;
  padding: 0;
}

.block-header {
  text-align: center;
  margin: 0 0 0 0;
  padding: 10px 10px;
  background: rgb(82, 109, 228);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 25px;
}

.block-body {
  margin: 0;
  padding: 0 10px;
  background: rgb(219, 210, 224);
  width: 100%;
  height: 30px;
}

ul, li {
  margin: 0;
  padding: 0;
}

.block-body ul li {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
}
