<header id="header-area">
  <div id="header-contents">
    <img src="../assets/angular.svg" widht="64" height="64" />
    <p>Angular-Work</p>
  </div>
</header>

<main id="main-area">
  <div id="menu-contents">
    <ul class="item_box">
      <!-- routing のためのリンク. routerLink に app.module.ts で定義したテーブル: ROUTE_TABLE に登録した path をセットする -->
      <li class="items"><a class="item_buttons" routerLink="/parent-child">親子関係にあるコンポーネント間でのデータ授受の確認</a></li>
      <li class="items"><a class="item_buttons" routerLink="/reference">子コンポーネントと外部コンテンツの参照の確認</a></li>
      <li class="items"><a class="item_buttons" routerLink="/data-share">サービスを使ったンポーネント間におけるデータ共有の確認</a></li>
      <li class="items"><a class="item_buttons" routerLink="/routing">ルーティング実装の確認</a></li>
      <li class="items"><a class="item_buttons" routerLink="/modal">モーダル実装の確認</a></li>
      <li class="items"><a class="item_buttons" routerLink="/tab">タブ実装の確認</a></li>
    </ul>
  </div>

  <div id="main-contents">
    <!-- routing で呼び出されたページは router-outlet で確保された領域に反映される -->
    <router-outlet></router-outlet>
  </div>
</main>
