#header-area, #header-contents {
  width: 100%;
  height: 10%;
  margin: 0;

  /* 子要素を中央に配置する */
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-contents p {
  font-size: 1.5em;
}

#header-contents img {
  float: left;
}

#main-area {
  height: calc(100% - 120px);
}

#main-area > #menu-contents {
  float: left;
  width: 20%;
  height: 100%;
  overflow-y: auto;
}

#menu-contents > .item_box {
  margin: 0 5px;
  padding: 10px;
  width: 90%;
  border-radius: 20px;
  border: 1px solid #b7a007;
}

.item_box > .items {
  display: inline-block;
  margin: 0; /* この指定で各項目にある `･` を消す */
  width: 97%;
}

.items > .item_buttons {
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(#ffffff, #e2cda7);
  color: #b7a007;
  padding: 10px 5px 10px 5px;
  border: 1px solid #b7a007;
  border-radius: 5px;
  margin: 5px 0 !important;
  width: inherit;
}

.items > .item_buttons:hover {
  background: linear-gradient(#b7a007, #e2cda7);
  color: #ffffff;
}

#main-area > #main-contents {
  float: right;
  width: 80%;
  height: 100%;
}
