<div class="validation-body">
  <form #formCheck="ngForm" class="form-check">
    <div class="form-area">
      <div class="input-network-address">
        <label class="label-common">IPアドレス:</label>
        <input
          type="text"
          class="input-text"
          name="input-ip-address"
          [(ngModel)]="inputAddress"
          #inputIPinfo="ngModel"
          required
          appNetworkAddressValidator
          (keyup)="onKeyUp('inputIPinfo', inputIPinfo.errors)"
        >
      </div>
      <div class="input-network-address">
        <label class="label-common">サブネットマスク:</label>
        <input
          type="text"
          class="input-text"
          name="input-subnet-mask"
          [(ngModel)]="inputSubnetMask"
          #inputSubnetMaskInfo="ngModel"
          required
          appNetworkAddressValidator
          (keyup)="onKeyUp('inputSubnetMaskInfo', inputSubnetMaskInfo.errors)"
        >
      </div>
      <div class="validation-error-information validation-error-information-h-70">
        <div class="note" *ngIf="validationError">
          <div [hidden]="!validationError?.required">※ 項目が未入力です</div>
          <div [hidden]="!validationError?.minLength">※ 入力した内容が短すぎます</div>
          <div [hidden]="!validationError?.maxLength">※ 入力した内容が長すぎます</div>
          <div [hidden]="!validationError?.pattern">※ 入力した内容に誤りがあります</div>
        </div>
      </div>
    </div>
  </form>
</div>
<div>
  <input type="button" class="event-button" name="button-ok" value="OK" (click)="onClickOK($event)" [disabled]="formCheck.invalid">
</div>
