#tab-base-area {
  margin: 0 0 0 15px;
  padding: 0;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
}

.block-header {
  margin: 0;
  padding: 10px 10px;
  background: rgb(182, 109, 240);
  color: rgb(255, 255, 255);
  height: 25px;
  width: inherit;
}

.block-header > p {
  margin: 0;
  padding: 0;
}

.block-body {
  margin: 0;
  padding: 0;
  height: inherit;
}
