<div class="base-area">
  <div class="header-block">
    <p>音声認識-文字起こしの確認</p>
  </div>

  <div class="body-block">
    <div class="menu-block">
      <ul>
        <li><a routerLink="/speech-to-text/use-web-speech-api">WebSpeechApi を使ったサンプル</a></li>
        <li><a routerLink="/speech-to-text/use-aws-transcribe">AWS Transcribe Streaming を使ったサンプル</a></li>
      </ul>
    </div>
    <div class="routing-block">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer-block">
  </div>
</div>
