<div class="base-area">
  <div class="header-block">
    <p>ライフサイクル-ngOnChange の確認</p>
  </div>

  <div class="body-block">
    <p class="description">
      <strong>ngOnChanges</strong> を走らせたときの動きをログで確認
    </p>
    <p class="input-block">
      <label for="inputText">入力項目: </label>
      <input id="inputText" name="inputText" type="text" [(ngModel)]="childComponentParameter" />
    </p>
    <app-on-change-verification [signalInputValue]="childComponentParameter"></app-on-change-verification>
  </div>

  <div class="footer-block">
  </div>
</div>
