<div class="validation-body">
  <p class="description">
    <strong>標準機能を利用した Validation </strong>の動きを確認する
  </p>
  <form #formCheck="ngForm" class="form-check">
    <div class="validation-form-area">
      <p>require, minLength, maxLength, pattern のチェック</p>
      <div class="input-network-address">
        <label class="label-common">IPアドレス: </label>
        <input
          type="text"
          class="input-data-column"
          name="input-ip-address"
          [(ngModel)]="inputIP"
          #inputIPinfo="ngModel"
          required
          minlength="{{minNetworkAddressLength}}"
          maxlength="{{maxNetworkAddressLength}}"
          pattern="{{networkAddressPattern}}"
          (keyup)="onKeyUp('inputIPinfo', inputIPinfo.errors)"
        >
      </div>
      <div class="input-network-address">
        <label class="label-common">サブネットマスク: </label>
        <input
          type="text"
          class="input-data-column"
          name="input-subnet-mask"
          [(ngModel)]="inputSubnetMask"
          #inputSubnetMaskInfo="ngModel"
          required
          minlength="{{minNetworkAddressLength}}"
          maxlength="{{maxNetworkAddressLength}}"
          pattern="{{networkAddressPattern}}"
          (keyup)="onKeyUp('inputSubnetMaskInfo', inputSubnetMaskInfo.errors)"
        >
      </div>
    </div>
    <div class="validation-form-area">
      <p>数値の最小/最大値のチェック</p>
      <div class="input-number">
        <label class="label-common">数値: </label>
        <input
          type="number"
          class="input-data-column"
          name="input-number"
          [(ngModel)]="inputNumber"
          #inputNumberInfo="ngModel"
          min="0"
          max="10"
          (keyup)="onKeyUp('inputNumberInfo', inputNumberInfo.errors)"
        >
      </div>
    </div>
    <div class="validation-error-area">
      <p>
        入力に誤りがある場合は下記にエラー内容が表示されます。
      </p>
      <div class="validation-error-information">
        <div class="note" *ngIf="validationError">
          <div [hidden]="!validationError?.required">※ 項目が未入力です</div>
          <div [hidden]="!validationError?.minlength">※ 入力した内容が短すぎます</div>
          <div [hidden]="!validationError?.maxlength">※ 入力した内容が長すぎます</div>
          <div [hidden]="!validationError?.pattern">※ 入力した内容に誤りがあります</div>
          <div [hidden]="!validationError?.min">※ 入力された数値が小さすぎます</div>
          <div [hidden]="!validationError?.max">※ 入力された数値が大きすぎます</div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="validation-footer">
  <input type="button" class="event-button" name="button-ok" value="OK" (click)="onClickOK($event)" [disabled]="formCheck.invalid">
</div>
