div {
  margin: 0;
  padding: 0;;
}

.base-area {
  margin: 0 0 0 15px;
  padding: 0;
  width: calc(100% - 20px);
  height: 100%;
  border: 1px solid #b7a007;
  border-radius: 20px;
}

.header-block {
  margin: 0;
  padding: 10px 10px;
  color: #b7a007;
  background: linear-gradient(#ffffff, #e2cda7);
  height: 25px;
  width: inherit;
  border-radius: 20px 20px 0 0;
}

.header-block > p {
  margin: 0;
  padding: 0;
}

.body-block {
  margin: 0;
  padding: 5px 10px;
  height: calc(100% - 125px);
}

.footer-block {
  padding: 0;
  background: linear-gradient(#e2cda7, #ffffff);
  height: 70px;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  /* 子要素を中央に配置する */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_button {
  display: block;
  font-size: 1.5em;
  width: 200px;
  height: 100%;
  color: #fff;
  background: linear-gradient(#ffffff, #b7a007);
  border: 1px solid #b7a007;
  border-radius: 20px;
}

.note {
  color: #f33e33;
}

.input-block {
  margin: 0;
  padding: 18px 0 0 0;
}

.block-separate-ten {
  height: 10%;
}

.block-separate-twenty {
  height: 20%;
}

.block-separate-twenty-five {
  height: 25%;
}

.block-separate-thirty {
  height: 30%;
}

.block-separate-thirty-five {
  height: 30%;
}

.block-separate-fourty {
  height: 40%;
}

.block-separate-fifty {
  height: 50%;
}

.block-separate-sixty {
  height: 60%;
}

.block-separate-seventy {
  height: 70%;
}

.block-separate-eighty {
  height: 80%;
}


.block-separate-ninety {
  height: 90%;
}

.block-separate-trisect {
  margin: 0;
  padding: 0;
  height: 33%;
}

.menu-block {
  height: 25px;
  padding: auto;
  border-bottom: solid 1px #b7a007;
}

.menu-block ul li {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
}

.routing-block {
  height: 100%;
}

.description {
  font-size: 1.1em;
}

.separate-dotted {
	background-color: #fff;
	border-top: 0.5px dotted #8c8b8b;
}

.input-block {
  margin: 0;
  padding: 10px 0 0 0;
}
