<p class="description">最初のアイテムにハイライトをあてるオプション付きの autocompolete</p>
<form class="form-style">
  <!-- appearance に設定できるのは 'legacy' | 'standard' | 'fill' | 'outline' のいずれか -->
  <mat-form-field class="form-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <!-- autoCompleteInput はフォーカスをあてるために使用する､本要素を指定するためのテンプレート変数 -->
    <!-- trigger は autocomplete パネルを開く処理: openPanel を実行するための MatAutocompleteTrigger オブジェクト -->
    <input type="text"
          placeholder="Pick one"
          aria-label="Number"
          #autoCompleteInput
          matInput
          #trigger="matAutocompleteTrigger"
          (focus)="openPanel($event, trigger)"
          [formControl]="autocompleteControl"
          [matAutocomplete]="auto"
    >
    <!-- mat-autocomplete についてのメモ -->
    <!-- * autoActiveFirstOption を設定することで autocomplete のリストの最初のアイテムにハイライトを当てることができる -->
    <!--   * これは [autoActiveFirstOption]="true" と書いても同様の効果が得られる -->
    <!-- * アイテムが選択されたときのイベント処理をしたければ optionSelected をウォッチする -->
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onItemSelected($event)"
    >
      <mat-option *ngFor="let autocompleteItem of filteredAutocompleteItemList | async" [value]="autocompleteItem">
        {{autocompleteItem}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
