#http-client-base-area {
  margin: 0 0 0 15px;
  padding: 0;
  width: calc(100% - 20px);
  height: 100%;
}

#http-client-wrap {
  height: 100%;
  border: 1px solid #b7a007;
  border-radius: 20px;
}

#http-client-header {
  margin: 0;
  padding: 10px 10px;
  color: #b7a007;
  background: linear-gradient(#ffffff, #e2cda7);
  height: 25px;
  width: inherit;
  border-radius: 20px 20px 0 0;
}

#http-client-header > p {
  margin: 0;
  padding: 0;
}

#http-client-body {
  margin: 0;
  padding: 0;
  height: calc(100% - 125px);
}
