#child-wrap {
  height: 100%;
}

#sent-data {
  padding: 0 20px;
  color: #b7a007;
  border: dashed 0.5px;
  height: 100px;
  /* 子要素を中央に配置する */
  display: flex;
  align-items: center;
}

#parent-to-child {
  height: 40%;
}

#child-to-parent {
  height: 30%;
}

#sent-data {
  font-size: 1.1em;
}

.event-button {
  height: 40px;
  font-size: 1.0em;
  border-radius: 15px;
  border: solid 0.5px #b7a007;
  color: #ffffff;
  background: linear-gradient(#ffffff, #b7a007);
}
